.container {
    display: flex;
    flex-direction: column;
    margin-top: 3.5rem;
    padding: 0 2rem;

    .logoTitle {
        display: flex;
        align-items: center;
        margin: 2rem 0;

        h1 {
            margin-right: 1rem;
        }
    }

    .searchArea {
        display: flex;
        align-items: center;

        .inputArea {
            display: flex;
            align-items: center;
            flex: 1;
            border: 1px solid var(--gray-200);
            height: 3.5rem;
            padding: 0 1rem;
            border-radius: 2rem;

            input {
                background-color: transparent;
                color: var(--black);
                flex: 1;
                border: 0;
                outline: 0;
                font-size: 1.2rem;

                &::placeholder {
                    color: var(--gray-200);
                }

                &:active {
                    .inputArea {
                        background-color: red;
                    }
                }
            }

            .searchFilterArea {
                display: flex;
                align-items: center;
                margin-left: auto;

                .searchFilterItem {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 250ms;
                    width: 6rem;
                    height: 2rem;
                    border-radius: 1rem;
                    margin-right: .5rem;
                    
                    span {
                        transition: 250ms;
                    }
                }
            }
        }

        .searchButton {
            background-color: var(--black);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 2rem;
            margin-left: 1rem;

            &:hover {
                filter: brightness(0.8);
            }
        }
    }

    .searchInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem;

        span {
            font-size: 1.1rem;
        }

        .searchVisibilityMode {
            display: flex;
            align-items: center;

            span {
                color: var(--gray-300);
                cursor: pointer;
                transition: 250ms;
                font-size: 1rem;
                margin-left: 2rem;

                &:hover {
                    color: var(--black);
                }
            }

            .searchVisibilityModeItem {
                display: flex;
                align-items: center;
                margin-left: 2rem;

                .icon {
                    transform: rotate(90deg);
                    font-size: .75rem;
                    margin: 0 .2rem 0 .75rem;
                }
            }
        }
    }

    .contentRow {
        display: flex;
        width: 100%;
        margin: 1rem 0 2rem 0;

        .contentFilterArea {
            width: 20%;

            .contentFilterItem {
                background-color: var(--gray-100);
                padding: 1rem;
                margin-top: 1rem;

                .icon {
                    transform: rotate(90deg);
                    font-size: .75rem;
                }

                .contentFilterItemHeader {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    span {
                        color: var(--black);
                        font-weight: bold;
                    }
                }

                .contentFilterItemRow {
                    display: flex;
                    align-items: center;
                    margin-top: .85rem;

                    .checkbox {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        transition: 250ms;
                        width: 1.1rem;
                        height: 1.1rem;
                    }

                    
                    span {
                        color: var(--black);
                        margin-left: 1rem;
                    }
                }
            }
        }
    }
}