#activeIcon {
    transform: rotate(90deg);
    transition: 250ms;
}

#inactiveIcon {
    transform: rotate(0);
    transition: 250ms;
}

#dropdownToggle:hover > #inactiveIcon {
    transform: rotate(90deg);
}

#currentSize {
    background-color: var(--black);
    color: var(--white);
}