.container {
    display: flex;
    height: calc(100vh - 4rem);
    margin-top: 4rem;

    .sideContent {
        display: flex;
        flex-direction: column;
        width: 25%;
        margin: 0 1rem;

        .path {
            display: flex;
            width: 90%;
            margin-top: 2rem;

            span {
                color: var(--gray-200);
                margin-right: 1rem;

                &:nth-child(2n + 1) {
                    cursor: pointer;
                    transition: 500ms;

                    &:hover {
                        color: var(--black);
                    }
                }
            }
        }

        .sideHeader {
            display: flex;
            flex-direction: column;
            margin-top: 2rem;

            h1 {
                font-weight: 100;
                font-size: 2.2rem;
                line-height: 2.2rem;
                margin-top: 1rem;
            }

            :last-child {
                font-weight: bold;
            }
        }

        .sideFooter {
            margin: auto 0 2rem 0;

            .dropdownItem {
                .dropdownToggle {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;
                    padding: .4rem 0;
                    border-bottom: 1px solid var(--gray-200);

                    span {
                        font-size: 1.3rem;
                    }
                }

                .hiddenText {
                    margin: 1rem 0;
                    
                    p {
                        color: var(--gray-200);
                        line-height: 1.4rem;
                    }
                }
            }
        }
    }

    .imgContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: calc(100vh - 4rem);
        border-left: 1px solid var(--gray-200);
        border-right: 1px solid var(--gray-200);

        img {
            cursor: zoom-in;
            height: calc(100vh - 4rem);
        }
    }

    .sideContent {
        .sideHeader {
            .sideRow {
                display: flex;
                margin-top: .75rem;

                .sizeItem {
                    background-color: var(--gray-100);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 1.5rem;
                    margin-right: .75rem;
                    transition: 250ms;
                }

                .colorItem {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 1.5rem;
                    margin-right: .75rem;
                    transition: 250ms;

                    .currentColor {
                        background-color: var(--white);
                        transition: 250ms;
                        width: .5rem;
                        height: .5rem;
                        border-radius: .5rem;
                    }
                }
            }
        }

        .sideButtonArea {
            display: flex;
            align-items: center;
            margin: auto 0 2rem 0;

            .favoriteButton {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: 250ms;
                border: 1px solid var(--gray-200);
                width: 3rem;
                height: 3rem;
                border-radius: 1.5rem;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }

            .addCart {
                background-color: var(--black);
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: 250ms;
                margin-left: 1rem;
                max-width: 20rem;
                height: 3rem;
                border-radius: 1.5rem;

                &:hover {
                    filter: brightness(0.8);
                }

                span {
                    color: var(--white);
                    font-size: 1.3rem;
                }
            }
        }
    }
}